$('#tree').tree
  data: #{BizarreCms::AbstractPage.tree_children.to_json}
  saveState: true
  dragAndDrop: true
  onCanMoveTo: (moved_node, target_node, position)->
    if (target_node == moved_node.parent)
      return position == 'inside'
    if (moved_node.parent == target_node.parent)
      return position == 'after'
    return false

$('#tree').bind 'tree.move', (event)->
  $.ajax
    type: 'POST'
    url: '/admin/abstract_pages/move'
    dataType: 'script'
    data:
      position: event.move_info.position
      page_id: event.move_info.moved_node.id
      target_page_id: event.move_info.target_node.id
    error: ()->
      event.preventDefault()
      alert('error!')

$('#tree').bind 'tree.click', (event)->
  document.location.href = '#{admin_abstract_page_path(':id')}'.replace ':id', event.node.id
